VITE_SUPABASE_URL=https://seu-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-publica
VITE_ADMIN_EMAIL=smarquesmedia@gmail.com
VITE_R2_PUBLIC_URL=https://pub-a324c717811d497b9c1237129c84ffbd.r2.dev

R2_ACCOUNT_ID=c0d698a8e801bf92afd8f8edc13b5905
R2_BUCKET=galeria-sara
R2_PUBLIC_URL=https://pub-a324c717811d497b9c1237129c84ffbd.r2.dev
R2_ACCESS_KEY_ID=coloque-a-access-key-id-na-vercel
R2_SECRET_ACCESS_KEY=coloque-a-secret-access-key-na-vercel
